.banner {
  position: relative;
  height: 500px;
  color: white;
  object-fit: contain;
  z-index: 1;
}

.banner-contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}
.banner-title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner-description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}

.banner-button {
  color: white;
  width: 158px;
  height: 57px;
  background-color: rgba(51, 51, 51);
  border-radius: 0.2vh;
  border: none;
  cursor: pointer;
  font-weight: 700;
  margin-right: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.banner-button:hover {
  color: #000;
  background-color: white;
  transition: all 0.2;
}
