.loginScreen {
  position: relative;
  height: 100%;
  background: url(https://assets.nflxext.com/ffe/siteui/vlv3/c0a32732-b033-43b3-be2a-8fee037a6146/2fe6e3c0-5613-4625-a0c1-3d605effd10b/IN-en-20210607-popsignuptwoweeks-perspective_alpha_website_large.jpg)
    center no-repeat;
  background-size: cover;
}

.loginscreen-logo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
}

.signbutton {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 84px;
  height: 35px;
  background-color: red;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
}

.lognscreen-gradient {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

.loginscreen-body {
  position: absolute;
  top: 30%;
  z-index: 1;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  padding: 20px;
}

.loginscreen-body > h1 {
  font-size: 3.123rem;
  margin-bottom: 20px;
}
.loginscreen-body > h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.loginscreen-body > h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.loginscreen-input > form > input {
  padding: 10px;
  outline-width: 0;
  height: 30px;
  width: 30%;
}

.loginscreen-input {
  margin: 20px;
}

.getstarted {
  padding: 18px 20px;
  font-size: 1rem;
  color: white;
  background-color: red;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
