.nav-contents {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  position: fixed;
  left: 0;
  width: 100px;
  padding-left: 20px;
  cursor: pointer;
}

.nav-avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding-top: 10px;
}

.nav-black {
  background-color: black;
}

.nav {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  height: 40px;
  z-index: 2;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}
