.profilescreen {
  height: 100vh;
  color: white;
}

.profilescreen_body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  max-width: 800px;
}

.profilescreen_info {
  display: flex;
}

.profilescreen_info > img {
  height: 100px;
}

.profileimage {
  cursor: pointer;
}
