.SignUp {
  max-width: 300px;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  background: rgb(0, 0, 0, 0.85);
}

.SignUp > form {
  display: grid;
  flex-direction: column;
}

.SignUp > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}

.SignUp > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: white;
  border-radius: 5px;
  background-color: red;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.gray {
  color: gray;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.SignUp > form > h4 {
  text-align: left;
  margin-top: 30px;
}
